## PW Skills Assignment On Basics Of Python

###### Q1. Create one variable containing following type of data:
1. string
2. list
3. float
4. tuple

In [1]:
# Let's create a variable having datatype 'int','string','float','complex','boolean'

a=23 # variable 'a' holding integer data
print("Data type of variable a is:", type(a)) # printing type of data 
b= "Nethaji"
print("Data type of variable b is:",type(b))
c=2.34
print("Data type of variable c is:",type(c))
d=3+2j
print(f"Data type of variable d is:{type(d)}")
e=True
print(f"Data type of variable e is: {type(e)}")
f=list([11,22,33,"Nethaji",4+3j,True]) # or f=[11,22,33,"Nethaji",4+3j,True]
print(f"Data type of variable f is: {type(f)}")
g=(1,7,9) # or g=(9,) but if you assign the data like g=(1) then python will take it as a interger data
print(f"Data type of variable g is: {type(g)}")
h=(34)
print(f"Data type of variable h is: {type(h)}")

Data type of variable a is: <class 'int'>
Data type of variable b is: <class 'str'>
Data type of variable c is: <class 'float'>
Data type of variable d is:<class 'complex'>
Data type of variable e is: <class 'bool'>
Data type of variable f is: <class 'list'>
Data type of variable g is: <class 'tuple'>
Data type of variable h is: <class 'int'>

#### Q2. Given are some following variables containing data:
1. var1 = ‘ ‘
2. var2 = ‘[ DS , ML , Python]’
3. var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
4. var4 = 1.

#### What will be the data type of the above given variable.

In [2]:
# we can use the inbuilt function type() to find the data type of variable 
var1=''
print(f"Datatype of var1 is: {type(var1)}")
var2 = '[ DS , ML , Python]'
print(f"Datatype of var2 is: {type(var2)}")
var3 =  [ 'DS' , 'ML' , 'Python' ]
print(f"Datatype of var3 is: {type(var3)}")
var4 =  1
print(f"Datatype of var4 is: {type(var4)}")

Datatype of var1 is: <class 'str'>
Datatype of var2 is: <class 'str'>
Datatype of var3 is: <class 'list'>
Datatype of var4 is: <class 'int'>

#### Q3. Explain the use of the following operators using an example:
1. /
2. %
3. //
4. **

In [3]:
# '/' represents division operator which provides the exact quotient value 
a=12/5
print(a) # provides 2.4 (provided along with float value if there is any)
# '//' it is like integer quotient value ( without floating points)
b=12//5 # it will eliminate the .4 from above output
print(b)
# '%'' (mod) provide the value of remainder 
c=21%5
print(c)
# "**" represents the power of the variable
d=5**2 # it represents the 5 power 2 that equals 25
print(d)

2.4
2
1
25

#### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [4]:
l=[11,22,33,"Nethaji",4+3j,True,100,"Mahendra",2.89,(0,3)]
for i in l:
    print(f"Element is {i} and datatype of {i} is {type(i)}")

Element is 11 and datatype of 11 is <class 'int'>
Element is 22 and datatype of 22 is <class 'int'>
Element is 33 and datatype of 33 is <class 'int'>
Element is Nethaji and datatype of Nethaji is <class 'str'>
Element is (4+3j) and datatype of (4+3j) is <class 'complex'>
Element is True and datatype of True is <class 'bool'>
Element is 100 and datatype of 100 is <class 'int'>
Element is Mahendra and datatype of Mahendra is <class 'str'>
Element is 2.89 and datatype of 2.89 is <class 'float'>
Element is (0, 3) and datatype of (0, 3) is <class 'tuple'>

#### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [5]:
A=int(input())
B=int(input())
count=0
while(A%B==0):
    count+=1
    A=A/B
if count>0:
    print(f"A is divisible by B for {count} times")
else:
    print("A is not divisible by B")

200
2
A is divisible by B for 3 times

#### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [6]:
l=list(range(4,29))
print("Elements in l:",l)
for i in l:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")

Elements in l: [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28]
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3
26 is not divisible by 3
27 is divisible by 3
28 is not divisible by 3

#### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [7]:
# mutable means we can modify the data within the container or variable and immutable in the sense we cannot modify the data of the variable 

'''
The example for the mutable datatype is "List" and example for immutable data type is "string"

In the List we can modify the elements like appending, insertion, removing the elements but in the string 

we are not able to perform the modification actions 
'''
l=[1,2,3,4,5]
print("Before modification of list:", l)
l.append(100)
l.insert(6,600)
l[0]=987
## as list is mutable we can modify the list ( i have performed append and insertion action on above)
print("After modification of list:",l)
s="Nethaji"
s[0]="King" ## we will get the error while we trying to modify the string , so the strings are "immutable"

Before modification of list: [1, 2, 3, 4, 5]
After modification of list: [987, 2, 3, 4, 5, 100, 600]

TypeError: 'str' object does not support item assignment